{"openapi":"3.1.0","info":{"title":"ID Document and Biometric Verification: Assure API","description":"<br/> <h2>Introduction to the Assure API</h2> The Assure API is a RESTful service that you can use to perform electronic identity   verification (eIDV) of your customers during onboarding. This means you can scan and verify identity documents using one or more of the supported eIDV services. It also allows to obtain  identity information from eID methods and to match and corroborate the data from these sources. The purpose of the Assure API is to provide a unique and simple way of integrating these identification services, working both in a browser and native mobile contexts and supporting asynchronous operations.","contact":{"url":"https://dashboard.signicat.com/contact-us"},"license":{"name":"Signicat AS","url":"https://www.signicat.com/"},"version":"1.0.0"},"externalDocs":{"description":"See also the user docs on how to get started with the Assure API.","url":"https://developer.signicat.com/docs/id-document-and-biometric-verification/guides/#set-up-an-api-integration"},"servers":[{"url":"https://api.signicat.com/assure","description":"Generated server url"}],"security":[{"basicAuth":[]}],"tags":[{"name":"Assure"},{"name":"Matching"},{"name":"Dossiers"},{"name":"Processes"},{"name":"Capture"}],"paths":{"/matching/configurations/{configurationId}":{"get":{"tags":["Matching"],"summary":"Get matching configuration","description":"Gets an existing matching configuration in JSON format.","operationId":"getConfiguration","parameters":[{"name":"configurationId","in":"path","description":"The ID of a matching configuration.","required":true,"schema":{"type":"string"},"example":"Configuration1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingConfigurationResponse"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET 'https://api.signicat.com/assure/matching/configurations/<CONFIGURATION-ID>“';"}]},"put":{"tags":["Matching"],"summary":"Update matching configuration","description":"Updates an existing matching configuration.","operationId":"updateConfiguration","parameters":[{"name":"configurationId","in":"path","description":"The ID of a matching configuration.","required":true,"schema":{"type":"string"},"example":"Configuration1"}],"requestBody":{"description":"Matching configuration payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingConfigurationResponse"}}}},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"409":{"description":"Conflict found while processing the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionConflict"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X PUT 'https://api.signicat.com/assure/matching/configurations/<CONFIGURATION-ID>' -H 'Authorization: Bearer <ACCESS_TOKEN> -d '<ADD-PAYLOAD-HERE>';"}]},"post":{"tags":["Matching"],"summary":"Create matching configuration","description":"Creates a new matching configuration.","operationId":"setConfiguration","parameters":[{"name":"configurationId","in":"path","description":"The ID of a matching configuration.","required":true,"schema":{"type":"string","maxLength":100,"minLength":0},"example":"Configuration1"}],"requestBody":{"description":"Matching configuration payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingConfiguration"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingConfigurationResponse"}}}},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST 'https://api.signicat.com/assure/matching/configurations/<CONFIGURATION-ID>' -H 'Authorization: Bearer <ACCESS_TOKEN> -d '<ADD-PAYLOAD-HERE>';"}]},"delete":{"tags":["Matching"],"summary":"Delete a matching configuration","description":"Deletes a matching configuration.","operationId":"deleteConfiguration","parameters":[{"name":"configurationId","in":"path","description":"The ID of a matching configuration.","required":true,"schema":{"type":"string"},"example":"Configuration1"}],"responses":{"204":{"description":"Deletes a matching configuration."},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X DELETE 'https://api.signicat.com/assure/matching/configurations/<CONFIGURATION-ID>' -H 'Authorization: Bearer <ACCESS_TOKEN>;"}]}},"/dossiers/{dossierId}/userdata":{"get":{"tags":["Dossiers"],"summary":"Get user data","description":"Use this service to get the existing data in the dossier about the end-user. You will also get information about when this data was last updated.","operationId":"getUserData","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"responses":{"200":{"description":"The user data in the dossier was successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDataResponse"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The user data in the dossier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/userdata -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json';"}]},"put":{"tags":["Dossiers"],"summary":"Update user data","description":"Use this service to update the data about the end-user in the dossier. This service will update existing fields and add new fields if they don't exist in the user data. If you want to delete some information from the user data, you must send that field as an empty string.","operationId":"updateUserData","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"requestBody":{"description":"Userdata payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDataRequest"}}},"required":true},"responses":{"204":{"description":"The user data in the dossier was successfully updated."},"400":{"description":"The user data does not provide a valid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The user data in the dossier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X PUT  https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/userdata -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json' -d '<ADD-PAYLOAD-HERE>';"}]},"post":{"tags":["Dossiers"],"summary":"Set user data","description":"Use this service to add data about the end-user into the dossier (e.g. data the end-user entered in a form).","operationId":"setUserData","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"requestBody":{"description":"Userdata payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDataRequest"}}},"required":true},"responses":{"201":{"description":"The user data was successfully added to the dossier."},"400":{"description":"The user data does not provide a valid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The user data in the dossier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}},"409":{"description":"The user data in the dossier has already been created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionConflict"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/userdata -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json' -d '<ADD-PAYLOAD-HERE>';"}]},"delete":{"tags":["Dossiers"],"summary":"Delete user data","description":"Use this service to delete all data about the end-user from the dossier.","operationId":"deleteUserData","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"responses":{"204":{"description":"The userdata in the dossier was successfully deleted."},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The user data in the dossier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X DELETE https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/userdata -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type:application/json';"}]}},"/capture/configurations/{configurationId}":{"get":{"tags":["Capture"],"summary":"Get capture configuration","description":"This service returns an existing capture configuration in JSON format.<br> <For details about the configuration fields, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/capture/#capture-configurations-uiprofile\">Capture configurations</a> section in the integration documentation.","operationId":"getConfiguration_1","parameters":[{"name":"configurationId","in":"path","description":"The ID of a capture configuration.","required":true,"schema":{"type":"string"},"example":"Configuration1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureConfiguration"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/capture/configurations/<CONFIGURATION-ID> -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]},"put":{"tags":["Capture"],"summary":"Update capture configuration","description":"This service updates an existing capture configuration.The capture configuration impacts the frontend workflow and the graphical interface. <For details about the configuration options, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/capture/#capture-configurations-uiprofile\">Capture configurations</a> section in the integration documentation.","operationId":"updateConfiguration_1","parameters":[{"name":"configurationId","in":"path","description":"The ID of a capture configuration.","required":true,"schema":{"type":"string"},"example":"Configuration1"}],"requestBody":{"description":"Capture configuration payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureConfiguration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureConfigurationResponse"}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X PUT https://api.signicat.com/assure/capture/configurations/<CONFIGURATION-ID> -H 'Authorization: Bearer <ACCESS_TOKEN>' -d '<ADD-PAYLOAD-HERE>';"}]},"post":{"tags":["Capture"],"summary":"Create capture configuration","description":"This service creates a new configuration to be used with the “Start capture flow” service. This configuration specifies the frontend workflow and graphical interface. For details about the configuration options, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/capture/#capture-configurations-uiprofile\">Capture configurations</a> section in the integration documentation.","operationId":"setConfiguration_1","parameters":[{"name":"configurationId","in":"path","description":"The ID of a capture configuration.","required":true,"schema":{"type":"string","maxLength":100,"minLength":0},"example":"Configuration1"}],"requestBody":{"description":"Capture configuration payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureConfiguration"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureConfigurationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{}}},"409":{"description":"Conflict","content":{"application/json":{}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/capture/configurations/<CONFIGURATION-ID> -H 'Authorization: Bearer <ACCESS_TOKEN>' -d '<ADD-PAYLOAD-HERE>';"}]},"delete":{"tags":["Capture"],"summary":"Delete capture configuration","description":"This service deletes an existing capture configuration.The capture configuration impacts the frontend workflow and the graphical interface. For details about the configuration options, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/capture/#capture-configurations-uiprofile\">Capture configurations</a> section in the integration documentation.","operationId":"deleteConfiguration_1","parameters":[{"name":"configurationId","in":"path","description":"The ID of a capture configuration.","required":true,"schema":{"type":"string"},"example":"Configuration1"}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X DELETE https://api.signicat.com/assure/capture/configurations/<CONFIGURATION-ID> -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/watermark":{"post":{"tags":["Assure"],"summary":"Watermark","description":"Apply a watermark on an image with a selected title, text and date. You can apply the watermark directly on an image sent in the request or on an image from a dossier or process. See also the \"<a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/watermark/\">general documentation</a> on how to use the Watermark service.","operationId":"watermark","requestBody":{"description":"Watermark payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatermarkAssureRequest"}}},"required":true},"responses":{"200":{"description":"Watermark successfully applied to image.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/watermark -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type:application/json' -d '<ADD-PAYLOAD-HERE>';"}]}},"/redact":{"post":{"tags":["Assure"],"summary":"Redact","description":"Redact selected fields in document images. You can apply the redaction directly on an image sent in the request or on an image from a dossier or process. See also the \"<a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/redaction/\">general documentation</a> on how to use the Redaction service.","operationId":"redact","requestBody":{"description":"Redaction payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedactionAssureRequest"}}},"required":true},"responses":{"200":{"description":"Image(s) redacted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedactionResponse"}}}},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/redact -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type:application/json' -d '<ADD-PAYLOAD-HERE>';"}]}},"/dossiers":{"get":{"tags":["Dossiers"],"summary":"Get all dossiers","description":"You can use this service to check the last 100 dossiers you have created (and that have not yet been deleted).","operationId":"getDossiers","responses":{"200":{"description":"The dossier information was successfully retrieved.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dossier"}}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]},"post":{"tags":["Dossiers"],"summary":"Create dossier","description":"You should create a new dossier for each new end-user to perform identity verification for that user. A dossier can have more than one process inside and each process can use a different provider (e.g. Onfido, ReadID etc).","operationId":"createDossier","requestBody":{"description":"Dossier payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DossierRequest"}}}},"responses":{"201":{"description":"The dossier was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dossier"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers -H 'Authorization: Bearer ACCESS_TOKEN' -H 'Content-Type: application/json';"}]}},"/dossiers/{dossierId}/processes":{"post":{"tags":["Processes"],"summary":"Create process","description":"This service creates a new process in the dossier, using a given provider. You use this service in most flows, unless you integrate through the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/assure-api/integration-flows/#eidv-alternative-flow-web-only\">eIDV alternative flow for the web</a>. <br>The request can accept several parameters. However, which parameters to use, depends on the provider and type of process. For more details, see the parameter descriptions below. <br>After you have created the process, you cannot change the information you sent in its request.  This means, if you need to change any of the information sent in its parameter, you must create a new process. Alternatively, you can delete the old process.","operationId":"createProcess","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"requestBody":{"description":"Process payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessRequest"},"examples":{"Example using onfido provider":{"summary":"Onfido request","description":"Example using onfido provider","value":{"provider":"onfido","processType":"documentSelfie","documentType":"passport","processParameters":{"location":{"countryOfResidence":"PRT"}},"eventTags":["customTag-123"]}},"Example using onfido provider with extra dl information":{"summary":"Onfido request with extra information from driving license","description":"Example using onfido provider with extra dl information","value":{"provider":"onfido","processType":"documentSelfie","documentType":"passport","processParameters":{"requestExtraDataFromDrivingLicense":true,"location":{"countryOfResidence":"PRT"}},"eventTags":["customTag-123"]}},"Example using signicatvideoid provider":{"summary":"Signicat VideoID request","description":"Example using signicatvideoid provider","value":{"provider":"signicatvideoid","processType":"substantial"}},"Example using signicatpaper provider":{"summary":"Signicat Paper request","description":"Example using signicatpaper provider","value":{"provider":"signicatpaper","documentType":"passport","documentCountry":"NLD"}},"Example using readid provider":{"summary":"ReadID request","description":"Example using readid provider","value":{"provider":"readid","processType":"sdk"}},"Example using facetec provider":{"summary":"Facetec request","description":"Example using facetec provider","value":{"provider":"facetec"}},"Example using webid provider":{"summary":"WebID request","description":"Example using webid provider","value":{"provider":"webid","processType":"videoid","processParameters":{"webid":{"preferredLanguage":"en","user":{"firstName":"John","lastName":"Smith","dateOfBirth":"1986-07-24","contact":{"email":"test@signicat.com","mobile":"+4790511734"}},"userActionParameters":{"redirectCancelUrl":"https://en.wikipedia.org/wiki/cancel","redirectMismatchUrl":"https://en.wikipedia.org/wiki/mismatch","redirectDeclineUrl":"https://en.wikipedia.org/wiki/decline","redirectUrl":"https://en.wikipedia.org/wiki/redirect","productType":"loan","clientName":"Bank of the Internet"},"idDocument":{"nationality":"PRT"}}}}},"Example using signicatpictureid provider":{"summary":"Signicat PictureID request","description":"Example using signicatpictureid provider","value":{"provider":"signicatpictureid","processType":"document"}}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"The process has been successfully initialized in the given dossier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessResponse"},"examples":{"Example using onfido provider":{"summary":"Onfido response","description":"Example using onfido provider","value":{"processId":"d560f9fc-9312-4110-ad88-f3acf392ca9c","provider":"onfido","processType":"documentSelfie","status":"pending","authorization":"***********","createdAt":"2024-03-21T11:42:52Z","updatedAt":"2024-03-21T11:42:52Z"}},"Example using signicatvideoid provider":{"summary":"SignicatVideoID request","description":"Example using signicatvideoid provider","value":{"processId":"ff4de2d7-c436-4f22-a2ee-3887ad4d98ab","provider":"signicatvideoid","processType":"substantial","status":"pending","authorization":"***********","providerApiUrl":"https://etrust-sandbox.electronicid.eu/v2","createdAt":"2024-03-21T14:14:14Z","updatedAt":"2024-03-21T14:14:14Z"}},"Example using signicatpaper provider":{"summary":"Signicat Paper response","description":"Example using signicatpaper provider","value":{"processId":"95d9f637-c03d-4385-b2f9-5f4d173225fd","provider":"signicatpaper","status":"pending","createdAt":"2024-03-21T10:54:20Z","updatedAt":"2024-03-21T10:54:20Z"}},"Example using readid provider":{"summary":"ReadID response","description":"Example using readid provider","value":{"processId":"81c334ce-70ab-4136-8b8f-63764ff0dbaf","provider":"readid","processType":"sdk","status":"pending","authorization":"***********","providerApiUrl":"https://saas-preprod.readid.com/odata/v1/ODataServlet","createdAt":"2024-03-21T14:13:34Z","updatedAt":"2024-03-21T14:13:34Z"}},"Example using facetec provider":{"summary":"Facetec response","description":"Example using facetec provider","value":"{\n    \"processId\": \"0d5458a6-02c1-4340-9a93-6b3526297f07\",\n    \"provider\": \"facetec\",\n    \"status\": \"pending\",\n    \"authorization\": \"***********\"\n    \"facetecDeviceKeyIdentifier\": \"***********\",\n    \"facetecEncryptionPublicKey\": \"\"***********\"\",\n    \"facetecMobileSdkProductionKey\": \"\"***********\"\",\n    \"createdAt\": \"2024-03-21T15:15:18Z\",\n    \"updatedAt\": \"2024-03-21T15:15:18Z\"\n}\n"},"Example using webid provider":{"summary":"WebID response","description":"Example using webid provider","value":{"processId":"3e73ecd4-7fdb-4a55-bd6c-f50dd429e9f9","provider":"webid","processType":"videoid","status":"pending","createdAt":"2024-03-21T14:06:26Z","updatedAt":"2024-03-21T14:06:26Z","redirectUrl":"https://test.webid-solutions.de/service/index/cn/000603/aid/233090202"}}}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json' -d '<ADD-PAYLOAD-HERE>';"}]}},"/dossiers/{dossierId}/processes/{processId}":{"get":{"tags":["Processes"],"summary":"Get process","description":"Use this service to get all the information about a process (e.g. provider, processType, updatedAt, status) and the verification result (e.g. finalResult). <br> The data in the response may vary depending on the provider used to perform the verification. <br>See also the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/process/\">Get process</a> section in the integration documentation.","operationId":"getProcess","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"The process information was successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Process"},"examples":{"The status is accepted when all underlying verifications have passed":{"summary":"Onfido accepted response with extra driving license information.","description":"The status is accepted when all underlying verifications have passed","value":{"processId":"b481a2e7-ba64-4889-bede-236a0a4a05d0","provider":"onfido","processType":"document","notificationUrl":"http://httpstat.us/200","status":"accepted","finalResult":{"firstName":"JOHN PHILIP","lastName":"SMITH","dateOfBirth":"1986-07-24","documentType":"driversLicense","documentNumber":"C1234567","issuingCountry":"PRT","personalIdentificationNumber":"111111111","placeOfBirth":"LISBON","dateOfIssue":"2018-07-14"},"providerSpecific":{"documentVerification":{"firstName":"JOHN PHILIP","lastName":"SMITH","dateOfBirth":"1986-07-24","documentType":"driversLicense","documentNumber":"C1234567","issuingCountry":"PRT","dateOfIssue":"2018-07-14","placeOfBirth":"LISBON","personalIdentificationNumber":"111111111","subResult":"clear","ageValidation":"clear","dataValidation":"clear","imageIntegrity":"clear","compromisedDocument":"clear","result":"clear","driversLicense":true,"restrictedLicence":false,"rawVehicleClasses":"A1,A2,A,B1,B","vehicleClassDetails":[{"category":"A1","obtainmentDate":"2002-10-14","expiryDate":"2036-07-23"},{"category":"A2","obtainmentDate":"2018-07-11","expiryDate":"2033-07-14"},{"category":"A","obtainmentDate":"2018-07-11","expiryDate":"2033-07-14"},{"category":"B1","obtainmentDate":"2004-10-07","expiryDate":"2036-07-23"},{"category":"B","obtainmentDate":"2004-10-07","expiryDate":"2036-07-23"}],"manualTransmissionRestriction":false,"passengerVehicle":{"obtainmentDate":"2004-10-07","expiryDate":"2036-07-23"},"breakdowns":{"issuingAuthority":{"breakdown":{"nfcActiveAuthentication":{"properties":{}},"nfcPassiveAuthentication":{"properties":{}}}},"imageIntegrity":{"result":"clear","breakdown":{"supportedDocument":{"result":"clear","properties":{"onfidoSupportedDocument":"clear","customSupportedDocument":"clear","issuingCountrySubjectToSanctions":"clear"}},"colourPicture":{"result":"clear","properties":{}},"imageQuality":{"result":"clear","properties":{}},"conclusiveDocumentQuality":{"result":"clear","properties":{"cornerRemoved":"clear","abnormalDocumentFeatures":"clear","obscuredSecurityFeatures":"clear","watermarksDigitalTextOverlay":"clear","puncturedDocument":"clear","obscuredDataPoints":"clear","missingBack":"clear","digitalDocument":"clear"}}}},"dataConsistency":{"breakdown":{"dateOfExpiry":{"properties":{}},"lastName":{"properties":{}},"firstName":{"properties":{}},"nationality":{"properties":{}},"gender":{"properties":{}},"multipleDataSourcesPresent":{"properties":{}},"documentType":{"properties":{}},"issuingCountry":{"properties":{}},"dateOfBirth":{"properties":{}},"documentNumbers":{"properties":{}}}},"dataComparison":{"breakdown":{"dateOfExpiry":{"properties":{}},"lastName":{"properties":{}},"firstName":{"properties":{}},"gender":{"properties":{}},"documentType":{"properties":{}},"issuingCountry":{"properties":{}},"dateOfBirth":{"properties":{}},"documentNumbers":{"properties":{}}}},"ageValidation":{"result":"clear","breakdown":{"minimumAcceptedAge":{"result":"clear","properties":{}}}},"policeRecord":{},"dataValidation":{"result":"clear","breakdown":{"expiryDate":{"properties":{}},"mrz":{"properties":{}},"gender":{"properties":{}},"dateOfBirth":{"result":"clear","properties":{}},"documentExpiration":{"properties":{}},"barcode":{"properties":{}},"documentNumbers":{"result":"clear","properties":{"documentNumber":"clear"}}}},"visualAuthenticity":{"result":"clear","breakdown":{"faceDetection":{"result":"clear","properties":{}},"template":{"result":"clear","properties":{}},"pictureFaceIntegrity":{"result":"clear","properties":{}},"other":{"result":"clear","properties":{}},"securityFeatures":{"result":"clear","properties":{}},"fonts":{"result":"clear","properties":{}},"originalDocumentPresent":{"result":"clear","properties":{"scan":"clear","screenshot":"clear","photoOfScreen":"clear","documentOnPrintedPaper":"clear"}},"digitalTampering":{"result":"clear","properties":{}}}},"compromisedDocument":{"result":"clear","breakdown":{"documentDatabase":{"result":"clear","properties":{}},"repeatAttempts":{"properties":{}}}}},"visualAuthenticity":"clear"}},"createdAt":"2024-12-26T15:40:55Z","updatedAt":"2024-12-26T15:42:10Z"}},"Some of the underlying verifications have passed the values consider and suspected.":{"summary":"Onfido inconclusive response","description":"Some of the underlying verifications have passed the values consider and suspected.","value":{"provider":"onfido","status":"inconclusive","processId":"85210241-4e70-4451-8ea3-7cd3c4d8843a","createdAt":"2019-09-23T10:05:53Z","updatedAt":"2019-09-23T10:09:49Z","providerSpecific":{"facialSimilarity":{"result":"consider","similarityScore":"high"},"documentVerification":{"lastName":"SPECIMEN","dateOfExpiry":"2024-11-01","subResult":"suspected","gender":"F","documentType":"passport","documentNumber":"00000000","dateOfBirth":"2002-04-29","result":"consider","firstName":"LAERKE OEYVOR AASE","nationality":"NOR","issuingCountry":"NOR","mrzLine1":"I<NLDSPECI20212<<<<<<<<<<<<<<<","mrzLine2":"6503101F3108022NLD<<<<<<<<<<<8","mrzLine3":"DE<BRUIJN<<WILLEKE<LISELOTTE<<"}}}},"This is a response example of an Onfido process that was rejected":{"summary":"Onfido rejected response","description":"This is a response example of an Onfido process that was rejected","value":{"provider":"onfido","status":"rejected","processId":"88d490a0-7184-4aba-804d-4dac400f5660","createdAt":"2019-09-23T15:43:37Z","updatedAt":"2019-09-23T15:46:30Z","providerSpecific":{"facialSimilarity":{"result":"consider","similarityScore":"medium"},"documentVerification":{"result":"consider","subResult":"rejected","documentType":"unknown"}}}},"This is a response example of an Onfido process that was canceled":{"summary":"Onfido canceled response","description":"This is a response example of an Onfido process that was canceled","value":{"processId":"2253b39c-c674-480c-bc2a-dd9dd021ac15","provider":"onfido","processType":"document","status":"canceled","createdAt":"2024-09-19T14:47:17Z","updatedAt":"2024-09-19T14:47:37Z"}},"Signicat VideoID Substantial Accepted response":{"summary":"Signicat VideoID Substantial Accepted response","description":"Signicat VideoID Substantial Accepted response","value":{"status":"accepted","processId":"e0dea380-4219-4388-81bb-61a56ed73ef3","provider":"signicatvideoid","providerSpecific":{"ocr":{"similarityScore":"high","livenessDetected":"true","features":[{"name":"Header","found":true,"bbox":{"x":84,"y":28,"width":248,"height":32},"side":"data"},{"name":"OVI 2","found":true,"bbox":{"x":596,"y":44,"width":32,"height":24},"side":"data"},{"name":"Signature","found":true,"bbox":{"x":402,"y":273,"width":217,"height":60},"side":"data"},{"name":"Photo","found":true,"bbox":{"x":32,"y":168,"width":141,"height":141},"side":"data"},{"name":"OVI 1","found":true,"bbox":{"x":12,"y":44,"width":72,"height":80},"side":"data"}],"securityChecks":{"nonExpired":{"valid":true},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"notBWCopy":{"valid":true}},"documentNumber":"1234567890","dateOfExpiry":"2025-10-05","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"passport","idType":"147","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"}},"processType":"substantial","createdAt":"2021-06-09T10:04:42Z","updatedAt":"2021-06-09T10:05:41Z"}},"Signicat VideoID Substantial Inconclusive response":{"summary":"Signicat VideoID Substantial Inconclusive response","description":"Signicat VideoID Substantial Inconclusive response","value":{"status":"inconclusive","processId":"e0dea380-4219-4388-81bb-61a56ed73ef3","provider":"signicatvideoid","providerSpecific":{"ocr":{"similarityScore":"verylow","livenessDetected":"true","features":[{"name":"Header","found":true,"bbox":{"x":85,"y":37,"width":249,"height":33},"side":"data"},{"name":"OVI 2","found":false,"side":"data"},{"name":"Signature","found":true,"bbox":{"x":392,"y":281,"width":202,"height":65},"side":"data"},{"name":"Photo","found":true,"bbox":{"x":44,"y":178,"width":141,"height":141},"side":"data"},{"name":"OVI 1","found":false,"side":"data"}],"securityChecks":{"nonExpired":{"valid":true},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"notBWCopy":{"valid":true}},"documentNumber":"1234567890","dateOfExpiry":"2025-10-05","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"passport","idType":"147","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"}},"processType":"substantial","createdAt":"2021-06-09T10:04:42Z","updatedAt":"2021-06-09T10:05:41Z"}},"Signicat VideoID Substantial Rejected response":{"summary":"Signicat VideoID Substantial Rejected response","description":"Signicat VideoID Substantial Rejected response","value":{"status":"rejected","processId":"1cc14545-0396-4cbe-8501-8f2461a91dfe","provider":"signicatvideoid","providerSpecific":{"ocr":{"features":[{}],"securityChecks":{"nonExpired":{"valid":false},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"sidesMatch":{"valid":true},"notBWCopy":{"valid":true}},"socialSecurityNumber":"11926318740","healthNumber":"1234567890","taxNumber":"199693803","similarityScore":"high","livenessDetected":"true","documentNumber":"1234567890","dateOfExpiry":"2020-07-08","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"identityCard","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"}},"processType":"substantial","createdAt":"2021-06-09T10:37:10Z","updatedAt":"2021-06-09T10:38:04Z"}},"Signicat VideoID SubstantialFullyAuto Accepted response":{"summary":"Signicat VideoID SubstantialFullyAuto Accepted response","description":"Signicat VideoID SubstantialFullyAuto Accepted response","value":{"processId":"e0dea380-4219-4388-81bb-61a56ed73ef3","createdAt":"2021-06-09T10:04:42Z","updatedAt":"2021-06-09T10:05:41Z","provider":"signicatvideoid","processType":"substantialFullyAuto","status":"accepted","providerSpecific":{"ocr":{"similarityScore":"high","livenessDetected":"true","features":[{"name":"Header","found":true,"bbox":{"x":85,"y":37,"width":249,"height":33},"side":"data"},{"name":"OVI 2","found":true,"bbox":{"x":596,"y":44,"width":32,"height":24},"side":"data"},{"name":"Signature","found":true,"bbox":{"x":392,"y":281,"width":202,"height":65},"side":"data"},{"name":"Photo","found":true,"bbox":{"x":44,"y":178,"width":141,"height":141},"side":"data"},{"name":"OVI 1","found":false,"side":"data"}],"securityChecks":{"nonExpired":{"valid":true},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"notBWCopy":{"valid":true}},"documentNumber":"1234567890","dateOfExpiry":"2025-10-05","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"passport","idType":"147","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"}}}},"Signicat VideoID SubstantialFullyAuto Rejected response":{"summary":"Signicat VideoID SubstantialFullyAuto Rejected response","description":"Signicat VideoID SubstantialFullyAuto Rejected response","value":{"status":"rejected","processId":"e0dea380-4219-4388-81bb-61a56ed73ef3","provider":"signicatvideoid","providerSpecific":{"ocr":{"similarityScore":"low","livenessDetected":"true","features":[{"name":"Header","found":true,"bbox":{"x":84,"y":28,"width":248,"height":32},"side":"data"},{"name":"OVI 2","found":true,"bbox":{"x":596,"y":44,"width":32,"height":24},"side":"data"},{"name":"Signature","found":true,"bbox":{"x":402,"y":273,"width":217,"height":60},"side":"data"},{"name":"Photo","found":true,"bbox":{"x":32,"y":168,"width":141,"height":141},"side":"data"},{"name":"OVI 1","found":true,"bbox":{"x":12,"y":44,"width":72,"height":80},"side":"data"}],"securityChecks":{"nonExpired":{"valid":true},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"notBWCopy":{"valid":true}},"documentNumber":"1234567890","dateOfExpiry":"2025-10-05","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"passport","idType":"147","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"}},"processType":"substantial","createdAt":"2021-06-09T10:04:42Z","updatedAt":"2021-06-09T10:05:41Z"}},"Signicat VideoID High Accepted response":{"summary":"Signicat VideoID High Accepted response","description":"Signicat VideoID High Accepted response","value":{"processId":"e0dea380-4219-4388-81bb-61a56ed73ef3","createdAt":"2021-06-09T10:04:42Z","updatedAt":"2021-06-09T10:05:41Z","processType":"high","provider":"signicatvideoid","status":"accepted","providerSpecific":{"ocr":{"similarityScore":"high","livenessDetected":"true","features":[{"name":"Header","found":true,"bbox":{"x":84,"y":28,"width":248,"height":32},"side":"data"},{"name":"OVI 2","found":true,"bbox":{"x":596,"y":44,"width":32,"height":24},"side":"data"},{"name":"Signature","found":true,"bbox":{"x":402,"y":273,"width":217,"height":60},"side":"data"},{"name":"Photo","found":true,"bbox":{"x":32,"y":168,"width":141,"height":141},"side":"data"},{"name":"OVI 1","found":true,"bbox":{"x":12,"y":44,"width":72,"height":80},"side":"data"}],"securityChecks":{"nonExpired":{"valid":true},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"notBWCopy":{"valid":true}},"documentNumber":"1234567890","dateOfExpiry":"2025-10-05","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"passport","idType":"147","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"},"manualApproval":{"duration":"106","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","dateOfExpiry":"2025-10-13","gender":"F","nationality":"PRT","documentNumber":"1234567890","issuingCountry":"PRT","dateOfBirth":"2002-04-29","personalIdentificationNumber":"FANTASYBANK1234567890","videoId":"dd56c701-9ad2-44c0-ab05-864cc46c7d69","verificationId":"6b19d497-e024-4b9c-aade-e6e370b59670","verifierId":"331971b7-4302-4cba-b5ea-4aec176f07d6","verificationDate":"2025-04-01T08:29:53Z","rAuthorityId":"fc6c2d52-b90a-4bb7-93e9-8fe020ae9da8"}}}},"Signicat VideoID High Rejected response":{"summary":"Signicat VideoID High Rejected response","description":"Signicat VideoID High Rejected response","value":{"processId":"e0dea380-4219-4388-81bb-61a56ed73ef3","createdAt":"2021-06-09T10:04:42Z","updatedAt":"2021-06-09T10:05:41Z","processType":"high","provider":"signicatvideoid","status":"rejected","providerSpecific":{"ocr":{"similarityScore":"high","livenessDetected":"true","features":[{"name":"Header","found":true,"bbox":{"x":84,"y":28,"width":248,"height":32},"side":"data"},{"name":"OVI 2","found":true,"bbox":{"x":596,"y":44,"width":32,"height":24},"side":"data"},{"name":"Signature","found":true,"bbox":{"x":402,"y":273,"width":217,"height":60},"side":"data"},{"name":"Photo","found":true,"bbox":{"x":32,"y":168,"width":141,"height":141},"side":"data"},{"name":"OVI 1","found":true,"bbox":{"x":12,"y":44,"width":72,"height":80},"side":"data"}],"securityChecks":{"nonExpired":{"valid":true},"notUnderage":{"valid":true},"dataIntegrity":{"valid":true},"livenessDetected":{"valid":true},"notFaceSpoofing":{"valid":true},"notBWCopy":{"valid":true}},"documentNumber":"1234567890","dateOfExpiry":"2025-10-05","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","documentType":"passport","idType":"147","dateOfBirth":"2002-04-29","gender":"F","nationality":"PRT","personalIdentificationNumber":"FANTASYBANK1234567890","issuingCountry":"PRT"},"manualApproval":{"duration":"106","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","dateOfExpiry":"2025-10-13","gender":"F","nationality":"PRT","documentNumber":"1234567890","issuingCountry":"PRT","dateOfBirth":"2002-04-29","personalIdentificationNumber":"FANTASYBANK1234567890","rejectionReasons":[{"type":"Document.Aspect","message":"No evidence of a legal-looking identity document is evident."}],"videoId":"dd56c701-9ad2-44c0-ab05-864cc46c7d69","verificationId":"6b19d497-e024-4b9c-aade-e6e370b59670","verifierId":"331971b7-4302-4cba-b5ea-4aec176f07d6","verificationDate":"2025-04-01T08:29:53Z","rAuthorityId":"fc6c2d52-b90a-4bb7-93e9-8fe020ae9da8"}}}},"Signicat VideoID Failed response (any processType)":{"summary":"Signicat VideoID failed response","description":"Signicat VideoID Failed response (any processType)","value":{"processId":"3e5f41ea-8b23-40ed-a8ac-f4d57d6cd4b2","provider":"signicatvideoid","processType":"substantial","status":"failed","failReason":{"type":"system_requirements","message":"The following requirements were not met: camera,microphone."},"createdAt":"2024-09-19T14:39:42Z","updatedAt":"2024-09-19T14:40:16Z"}},"ReadID example with accepted process":{"summary":"ReadID accepted response","description":"ReadID example with accepted process","value":{"provider":"readid","status":"accepted","processId":"4e6aed00-f72a-4363-9d4a-418d66f5e49c","providerSpecific":{"consolidatedIdentityData":{"chipVerification":"SUCCEEDED","chipCloneDetection":"SUCCEEDED","dateOfBirth":"2002-04-29","dateOfExpiry":"2025-10-13","documentCode":"P","documentNumber":"P123456","documentType":"passport","gender":"F","issuingCountry":"PRT","nationality":"PRT","personalIdentificationNumber":"123456789","firstName":"MARIA PAULA","lastName":"SANTOS MENDES"}},"finalResult":{"documentType":"passport","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","gender":"F","nationality":"PRT","dateOfBirth":"2002-04-29","documentNumber":"P123456","dateOfExpiry":"2025-10-13","issuingCountry":"PRT","personalIdentificationNumber":"123456789"},"processType":"ready","createdAt":"2021-08-04T08:19:22Z","updatedAt":"2021-08-04T08:21:56Z"}},"ReadID example with inconclusive process":{"summary":"ReadID inconclusive response","description":"ReadID example with inconclusive process","value":{"processId":"7e28b214-572d-41cc-ae57-ded4d766bef9","provider":"readid","processType":"ready","status":"inconclusive","providerSpecific":{"consolidatedIdentityData":{"chipVerification":"SUCCEEDED","chipCloneDetection":"SUCCEEDED","documentType":"passport","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","gender":"F","nationality":"PRT","dateOfBirth":"2002-04-29","documentNumber":"P123456","dateOfExpiry":"2025-10-13","issuingCountry":"PRT","documentCode":"P","personalIdentificationNumber":"123456789"},"documentContent":{"dateOfBirth":"2002-04-29","dateOfExpiry":"2025-10-13","documentNumber":"P123456","issuingCountry":"PRT","personalIdentificationNumber":"123456789","firstName":"MARIA PAULA","lastName":"SANTOS MENDES","gender":"F","mrzFirstName":"MARIA PAULA","mrzLastName":"SANTOS MENDES","nationality":"PRT","placeOfBirth":""},"iproovSession":{"attempts":3,"enrollmentImageSource":"Chip","finished":true,"hasError":false,"passed":false,"iProovAssuranceType":"GENUINE_PRESENCE"}},"createdAt":"2023-12-07T22:39:27Z","updatedAt":"2023-12-07T22:42:22Z"}},"ReadID example with rejected process":{"summary":"ReadID rejected response","description":"ReadID example with rejected process","value":{"provider":"readid","status":"rejected","processId":"36c9e4cb-9fe2-4326-a57b-ec1e7f6d2bbf","providerSpecific":{"consolidatedIdentityData":{"chipVerification":"FAILED","chipCloneDetection":"SUCCEEDED","dateOfBirth":"2002-04-29","dateOfExpiry":"2025-10-13","documentCode":"P","documentNumber":"M123456","documentType":"passport","gender":"F","issuingCountry":"PRT","nationality":"PRT","personalIdentificationNumber":"123456789","firstName":"MARIA PAULA","lastName":"SANTOS MENDES"}},"processType":"ready","createdAt":"2021-08-04T09:18:09Z","updatedAt":"2021-08-04T09:24:01Z"}},"Facetec example with accepted process":{"summary":"Facetec accepted response","description":"Facetec example with accepted process","value":{"processId":"fd3121cb-f9aa-4c77-bb65-97f6d82a9a02","provider":"facetec","status":"accepted","finalResult":{"livenessDetected":"true","similarityScore":"high"},"createdAt":"2021-11-11T15:23:35Z","updatedAt":"2021-11-11T15:24:10Z","providerSpecific":{"liveness":{"faceScanSecurityChecks":{"auditTrailVerificationCheckSucceeded":true,"replayCheckSucceeded":true,"faceScanLivenessCheckSucceeded":true,"sessionTokenCheckSucceeded":true},"error":false,"success":true},"matching":{"attempts":[{"algorithm":"facePortrait","matchLevel":8,"imageProcessing":"faceFound","success":true,"error":false}],"algorithm":"facePortrait","matchLevel":8,"imageProcessing":"faceFound","success":true,"error":false}}}},"In this example, matchLevel was not high enough to get accepted.":{"summary":"Facetec inconclusive response","description":"In this example, matchLevel was not high enough to get accepted.","value":{"processId":"1ca4c667-7132-45dc-a826-3bddaf4bc2a6","provider":"facetec","status":"inconclusive","createdAt":"2022-04-21T13:44:37Z","updatedAt":"2022-04-21T13:46:51Z","providerSpecific":{"liveness":{"faceScanSecurityChecks":{"auditTrailVerificationCheckSucceeded":true,"replayCheckSucceeded":true,"faceScanLivenessCheckSucceeded":true,"sessionTokenCheckSucceeded":true},"error":false,"success":true},"matching":{"attempts":[{"algorithm":"facePortrait","matchLevel":4,"imageProcessing":"faceFound","success":true,"error":false},{"algorithm":"idPhoto","matchLevel":5,"imageProcessing":"faceFound","success":true,"error":false},{"algorithm":"idPhotoLowQuality","matchLevel":5,"imageProcessing":"faceFound","success":true,"error":false}],"algorithm":"idPhotoLowQuality","matchLevel":5,"imageProcessing":"faceFound","success":true,"error":false}}}},"There was no match with the face on the ID-photo (\"matchLevel\":0)":{"summary":"Facetec rejected response","description":"There was no match with the face on the ID-photo (\"matchLevel\":0)","value":{"processId":"5fe7a9b9-f781-44d1-b37b-6cc958ee7b7a","provider":"facetec","status":"rejected","createdAt":"2021-11-12T13:52:10Z","updatedAt":"2021-11-12T13:52:46Z","providerSpecific":{"liveness":{"faceScanSecurityChecks":{"auditTrailVerificationCheckSucceeded":true,"replayCheckSucceeded":true,"faceScanLivenessCheckSucceeded":true,"sessionTokenCheckSucceeded":true},"error":false,"success":true},"matching":{"attempts":[{"algorithm":"facePortrait","matchLevel":0,"imageProcessing":"faceFound","success":false,"error":false},{"algorithm":"idPhoto","matchLevel":0,"imageProcessing":"faceFound","success":false,"error":false},{"algorithm":"idPhotoLowQuality","matchLevel":0,"imageProcessing":"faceFound","success":false,"error":false}],"algorithm":"idPhotoLowQuality","matchLevel":0,"imageProcessing":"faceFound","success":false,"error":false}}}},"Example using webid provider with videoId":{"summary":"WebID videoID response","description":"Example using webid provider with videoId","value":{"processId":"2510b01d-bf91-45e4-aadd-c930cb1c1b09","provider":"webid","processType":"videoid","status":"accepted","finalResult":{"firstName":"Erica","lastName":"Mustermann","dateOfExpiry":"2027-08-23","dateOfBirth":"1990-02-17","gender":"F","nationality":"DE","documentType":"identityCard","documentNumber":"PA9921465"},"providerSpecific":{"identResponse":{"actionId":"165001703","transactionId":"2510b01d-bf91-45e4-aadd-c930cb1c1b09","actionType":"pass","success":true,"mismatch":false,"responseType":"ident","finishedOn":"2023-06-22T12:31:12+02:00","identMode":"video_ident","identifiedOn":"2023-06-22T12:31:12+02:00","idDocument":{"authority":"Gemeinde Bad Lauchstädt","dateOfExpiry":"2027-08-23","dateOfIssue":"2017-08-24","documentType":"Personalausweis","idNumber":"PA9921465","mrz":"PA9921465","nameAtBirth":"Mustermann","nationality":"DE","placeOfBirth":"Hamburg"},"user":{"title":"","firstname":"Erica","lastname":"Mustermann","dateOfBirth":"1990-02-17","address":{"street":"","addressLine1":"","addressLine2":"","region":"","zip":"","city":"","country":"DE"},"contact":{"email":"ericamustermann@example.com","mobile":"(0)30-23125 000"},"gender":"F"}}},"createdAt":"2023-06-22T10:31:03Z","updatedAt":"2023-06-22T10:31:12Z"}},"Example using webid provider with accountId":{"summary":"WebID accountID response","description":"Example using webid provider with accountId","value":{"processId":"1a07334f-4191-40cf-b7d1-a38372df0aa2","provider":"webid","processType":"accountid","status":"accepted","finalResult":{"firstName":"Erica","lastName":"Mustermann","dateOfExpiry":"2023-06-23","dateOfBirth":"1990-02-17","gender":"F","nationality":"DE","documentType":"identityCard","documentNumber":"abcdef"},"providerSpecific":{"identResponse":{"actionId":"127046906","transactionId":"1a07334f-4191-40cf-b7d1-a38372df0aa2","actionType":"pass","success":true,"mismatch":false,"responseType":"ident","finishedOn":"2023-06-22T12:28:42+02:00","identMode":"pay_ident","identifiedOn":"2023-06-22T12:28:42+02:00","idDocument":{"authority":"","dateOfExpiry":"2027-08-23","dateOfIssue":"2017-08-24","documentType":"Personalausweis","idNumber":"abcdef","mrz":"abc123","nameAtBirth":"","nationality":"DE","placeOfBirth":"Hamburg"},"user":{"title":"","firstname":"Erica","lastname":"Mustermann","dateOfBirth":"1990-02-17","address":{"street":"","addressLine1":"","addressLine2":"","region":"","zip":"","city":"","country":""},"contact":{"email":"ericamustermann@mail.com","mobile":"(0)30-23125 000"},"gender":"F"},"productInfos":{"bankAccount":{"iban":"DE62888888880012345678"}}}},"createdAt":"2023-06-22T09:50:46Z","updatedAt":"2023-06-22T10:29:20Z"}},"Signicatpaper example with accepted process":{"summary":"Signicat Paper accepted response","description":"Signicatpaper example with accepted process","value":{"processId":"processId","provider":"signicatpaper","status":"accepted","createdAt":"createdAt","updatedAt":"updatedAt","finalResult":{"firstName":"Maria Paula","lastName":"Santos Mendes","dateOfExpiry":"2020-10-15","gender":"F","nationality":"PRT","documentType":"passport","documentNumber":"1234567890","issuingCountry":"PRT","dateOfBirth":"2002-04-29"},"providerSpecific":{"verification":{"type":"MRZ_FEATURE_COMPARISON","status":"true"},"features":{"firstName":"Maria Paula","lastName":"Santos Mendes","dateOfExpiry":"2020-10-15","issuingAuthority":"SEF SERV ESTR E FR0NTE1RAS","gender":"F","documentNumber":"1234567890","dateOfBirth":"2002-04-29","personalNumber":"1234567890","dateOfIssue":"2015-10-15"},"mrz":{"firstName":"Maria Paula","lastName":"Santos Mendes","dateOfExpiry":"2020-10-15","nationality":"PRT","gender":"F","documentType":"passport","issuingCountry":"PRT","documentNumber":"1234567890","dateOfBirth":"2002-04-29","personalNumber":"1234567890"},"mrzChecksum":{"dateOfExpiry":"VALID","documentNumber":"VALID","dateOfBirth":"VALID","personalNumber":"VALID"},"mrzVerification":{"dateOfExpiry":"VALID","documentType":"VALID","issuingCountry":"VALID","dateOfBirth":"VALID"},"mrzFeatureMatching":{"dateOfExpiry":"FULL_MATCH","lastName":"FULL_MATCH","issuingAuthority":"FOUND","firstName":"FULL_MATCH","documentNumber":"FULL_MATCH","dateOfBirth":"FULL_MATCH","driving_permits":"MISSING","personalNumber":"LEVENSHTEIN1","dateOfIssue":"VALID"}}}},"Signicatpaper example with rejected process":{"summary":"Signicat Paper rejected response","description":"Signicatpaper example with rejected process","value":{"processId":"processId","provider":"signicatpaper","status":"rejected","createdAt":"createdAt","updatedAt":"updatedAt","finalResult":{"firstName":"Maria Paula","lastName":"Santos Mendes","dateOfExpiry":"2016-10-20","gender":"F","nationality":"PRT","documentType":"passport","documentNumber":"XY1101P52","issuingCountry":"PRT","dateOfBirth":"2002-04-29"},"providerSpecific":{"verification":{"type":"MRZ_ONLY","status":"false"},"mrz":{"firstName":"Maria Paula","lastName":"Santos Mendes","dateOfExpiry":"2016-10-20","nationality":"PRT","gender":"F","documentType":"passport","issuingCountry":"PRT","documentNumber":"XY1101P52","dateOfBirth":"2002-04-29","personalNumber":"1234567890"},"mrzChecksum":{"dateOfExpiry":"VALID","documentNumber":"VALID","dateOfBirth":"VALID","personalNumber":"VALID"},"mrzVerification":{"dateOfExpiry":"INVALID","documentType":"VALID","issuingCountry":"VALID","dateOfBirth":"VALID"},"errors":["Invalid date_of_expiry: NOT in the future, value 2016-10-20"]}}},"SignicatpictureId example with accepted process":{"summary":"Signicat PictureId accepted response","description":"SignicatpictureId example with accepted process","value":{"processId":"27e15a7a-c720-4052-b384-f6f541b12514","provider":"signicatpictureid","processType":"documentSelfie","status":"accepted","finalResult":{"firstName":"CATARINA","lastName":"BRAVO SAMPAIO","dateOfExpiry":"2025-11-13","dateOfBirth":"1984-04-17","gender":"F","nationality":"PRT","documentNumber":"CB567890","issuingCountry":"PRT","similarityScore":"high","personalIdentificationNumber":"12345678"},"providerSpecific":{"document":{"issuingCountry":"PRT","dateOfExpiry":"2025-11-13","documentNumber":"CB567890","subject":{"firstName":"CATARINA","lastName":"BRAVO SAMPAIO","dateOfBirth":"1984-04-17","gender":"F","nationality":"PRT","personalIdentificationNumber":"12345678","photo":{"x":187,"y":456,"width":376,"height":539},"signature":{"x":1511,"y":948,"width":598,"height":156}},"securityChecks":{"notTamperedDocument":{"name":"Not tampered document","passed":true},"nonExpired":{"name":"Document not expired","passed":true},"notUnderage":{"name":"Not underage","passed":true},"notBlackAndWhite":{"name":"Not black & white copy","passed":true},"dataIntegrity":{"name":"Data integrity","passed":true},"selfieAndDocumentMatch":{"name":"Selfie and photo in the document match","similarityLevel":"high"}}},"selfie":{"status":"SUCCESS","x":349,"y":333,"width":417,"height":702}},"createdAt":"2024-12-17T00:12:12Z","updatedAt":"2024-12-17T00:13:38Z"}},"SignicatpictureId example with inconclusive process":{"summary":"Signicat PictureId inconclusive response","description":"SignicatpictureId example with inconclusive process","value":{"processId":"6aff2abb-bd88-436c-bc81-9086c32a2e2a","provider":"signicatpictureid","processType":"document","status":"inconclusive","statusReasons":[{"type":"Document","category":"SecurityCheckFailed","subCategory":"NonExpired","message":"Security check 'nonExpired' failed."}],"providerSpecific":{"document":{"issuingCountry":"NLD","dateOfExpiry":"2031-08-30","documentNumber":"SPECI2021","subject":{"firstName":"WILLEKE LISELOTTE","lastName":"DE BRUIJN","dateOfBirth":"1965-03-10","gender":"F","nationality":"NLD","personalIdentificationNumber":"999999990","photo":{"x":90,"y":171,"width":167,"height":235},"signature":{"x":336,"y":425,"width":298,"height":108}},"securityChecks":{"notTamperedDocument":{"name":"Not tampered document","passed":true},"nonExpired":{"name":"Document not expired","passed":false},"notUnderage":{"name":"Not underage","passed":true},"notBlackAndWhite":{"name":"Not black & white copy","passed":true},"dataIntegrity":{"name":"Data integrity","passed":true}}}},"createdAt":"2024-12-16T23:35:52Z","updatedAt":"2024-12-16T23:36:15Z"}},"SignicatpictureId example with rejected process":{"summary":"Signicat PictureId rejected response","description":"SignicatpictureId example with rejected process","value":{"processId":"3b1dc433-a46c-4473-bab6-d0f7c8a44341","provider":"signicatpictureid","processType":"document","status":"rejected","statusReasons":[{"type":"Document","category":"Security","subCategory":"NotUnderage","message":"Security check 'notUnderage' failed or was not found."}],"depictions":["front"],"providerSpecific":{"document":{"subject":{"signature":{"x":260,"y":447,"width":278,"height":107}},"securityChecks":{"notTamperedDocument":{"name":"Not tampered document","passed":true},"notBlackAndWhite":{"name":"Not black & white copy","passed":true},"dataIntegrity":{"name":"Data integrity","passed":false}}}},"createdAt":"2025-05-13T08:18:28Z","updatedAt":"2025-05-13T08:19:47Z"}},"SignicatpictureId example with failed process":{"summary":"Signicat PictureId failed response","description":"SignicatpictureId example with failed process","value":{"processId":"021e3cbc-c195-4eda-8a83-dbd2e834e23e","provider":"signicatpictureid","processType":"document","status":"failed","failReason":{"type":"upload_failed","message":"ERROR: signicatpictureid uploadImage()"},"createdAt":"2024-12-17T00:03:30Z","updatedAt":"2024-12-17T00:03:50Z"}}}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The process was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID> -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]},"post":{"tags":["Processes"],"summary":"Start verification","description":"This service requests the provider to perform a verification of the identity document that was uploaded. This service must always run after the ID images are uploaded to the provider (Set images to the process). After calling this service, the information in the process can no longer be changed. This means that if you need to change something in the process (e.g. upload new images), you must create a new process and start over again.","operationId":"startVerification","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"requestBody":{"description":"Start verification payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyRequest"}}}},"responses":{"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"200":{"description":"The request was successfully sent.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyResponse"}}}},"204":{"description":"The request was successfully sent (only applies to the 'readid' and 'webid' providers)"},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID> -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json';"}]},"delete":{"tags":["Processes"],"summary":"Delete process","description":"This service deletes all information about a process. <br><br><b>Warning:</b> This is a destructive operation since you cannot do a rollback afterwards. <br><br><b>Note</b>: For Onfido, you are not allowed to delete a process if it is still in the `processing` state (for more details about process statuses, see the <a href='https://developer.signicat.com/docs/id-document-and-biometric-verification/services/process/#status'>Get process</a> page in the integration documentation).<br><br>These are the steps for deleting a process:<ul><li>Before you delete, you should wait until the verification is finished, and then save all the information by using the <a href='https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Processes/operation/getProcess'>Get process</a> and <a href='https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Processes/operation/getZipFile'>Download full result</a> services. </li><li> After saving, use this 'Delete process' service (and later also <a href='https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Dossiers/operation/deleteDossier'>Delete dossier </a>if you are finished with that end-user’s identity verification).</li><li>Once the delete operation has finished, the provider of the process will receive a request to delete the information on their side. The information will either be immediately deleted or soft-deleted, i.e., it will be marked for deletion and hard-deleted after X days (decided by each provider).</li></ul>","operationId":"deleteProcess","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"responses":{"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"The process was successfully deleted."},"401":{"description":"The Bearer token provided in the Authorization header was not valid"},"404":{"description":"The resource requested cannot be found"}},"x-code-samples":[{"lang":"curl","source":"curl -X DELETE https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID> -H 'Accept:application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/dossiers/{dossierId}/processes/{processId}/images":{"get":{"tags":["Processes"],"summary":"Get image","description":"Use this service to return images from the process. <br><br> <b>Note</b>: The images were either uploaded to the process directly through the Set images endpoint or by using the provider’s SDK to capture and upload them.<br><br>Supported depiction types are `front` and `back` images of the ID document, `selfie` images of the end-user, and `portrait`images extracted from the ID document (portrait is available only for some providers). <br><br>Supported file formats are jpg/png.<br><br>For more information, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/images/\">Images</a> section in the integration documentation.","operationId":"getImages","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"},{"name":"depiction","in":"query","description":"The type of image to be retrieved from the process.<br>The <code>portrait</code> value is only available for the 'signicatvideoid' and 'readid' providers.","required":true,"schema":{"type":"string","enum":["front","back","selfie","portrait"]},"example":"front"}],"responses":{"200":{"description":"The image was successfully retrieved.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"This provider and process type does not provide  the requested image type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The dossier was not found.     |     The image was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}},"409":{"description":"Conflict found while processing the request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionConflict"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET 'https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID>/images?depiction=<DEPICTION-TYPE>' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]},"post":{"tags":["Processes"],"summary":"Set images to the process","description":"Use this service to add images to the process, which in turn will upload images directly to a provider (i.e. not using their SDK to capture and upload the images).<br><br><b>Note</b>: Direct upload using Assure is only available for Onfido, Signicat Paper and FaceTec. <br><br>Supported depiction types are `front` and `back` images of the ID document, `selfie` images of the end-user, and `portrait` images extracted from the ID document (portrait is available only for some providers). <br><br>Supported file formats are jpg/png. The file must be sent using the <a href=\"https://en.wikipedia.org/wiki/Data_URI_scheme\">dataURL scheme</a>. <br><br>You can send one or more images at the same time. If the same depiction type (e.g. selfie) is sent more than once, only the last one is kept. <br><br>You are not allowed to upload images after the verification has started.<br><br>For more information, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/images/\">Images</a> section in the integration documentation.","operationId":"setImages","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"requestBody":{"description":"Set images payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadImageRequest"}}},"required":true},"responses":{"201":{"description":"The files were successfully uploaded."},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID>/images -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type:application/json' -d '<ADD-PAYLOAD-HERE>';"}]}},"/dossiers/{dossierId}/processes/{processId}/fail":{"post":{"tags":["Processes"],"summary":"Fail process","description":"This endpoint allows you to change a process status from `pending` to `failed`. This is useful if lots of processes get stuck in pending status due to some problems or user errors (e.g. unstable wifi connection, missing access to the web camera, etc.). Changing those statuses to failed, would declutter the dossier. You cannot set other statuses than `pending` to `failed`. If you try to do that, you will receive an HTML 409 error message.","operationId":"setFailedProcess","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"responses":{"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"200":{"description":"The process status will be set to `failed`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessStatusResponse","example":{"processId":"9424224c-b7d9-49f6-83e7-2c1003431bdb","status":"failed","reason":{"category":"User.Request","reason":"Process.Failed","message":"Failed by request."}}}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}},"409":{"description":"The process status is not `pending`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionConflict"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://preprod.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID>/fail -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/dossiers/{dossierId}/match":{"post":{"tags":["Matching"],"summary":"Perform matching","description":"You can use this service to corroborate the end-user’s identity. This service matches different sources of information about the end-user.","operationId":"match","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"requestBody":{"description":"Matching payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchRequest"}}},"required":true},"responses":{"200":{"description":"Matching was successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchResponse"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchResponse"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/match -H 'Authorization: Bearer <ACCESS_TOKEN>' -d '<ADD-PAYLOAD-HERE>';"}]}},"/dossiers/{dossierId}/files":{"get":{"tags":["Dossiers"],"summary":"Get file from dossier","description":"Use this service to retrieve files in the dossier. <br><br> Supported depiction types are `front` and `back` images of the ID document and `selfie` images of the end-user. <br><br>Supported file formats are jpg/png.<br><br>For more information, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/files-in-dossier/\">Files in dossier</a> in the integration documentation.","operationId":"getFile","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"depiction","in":"query","description":"The type of image to be retrieved from the dossier.","required":true,"schema":{"type":"string","enum":["front","back","selfie"]},"example":"front"}],"responses":{"200":{"description":"The image was successfully retrieved.","content":{"application/octet-stream":{}}},"400":{"description":"This dossier does not provide the requested image type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The dossier was not found.     |     The image was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET 'https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/files?depiction=<DEPICTION-TYPE>' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]},"post":{"tags":["Dossiers"],"summary":"Set files to the dossier","description":"Use this service to upload files to the dossier.<br><br>Supported depiction types are `front` and `back` images of the ID document and `selfie` images of the end-user. <br><br>Supported file formats are jpg/png. The file must be sent using the <a href=\"https://en.wikipedia.org/wiki/Data_URI_scheme\">dataURL scheme</a>. <br><br>You can send one or more files at the same time. If the same depiction type (e.g. selfie) is sent more than once, only the last one is kept.<br><br>If you want to copy an image from the process into the dossier, you must define the processId parameter in the body. Then the file will be uploaded from the process. <br> <br>For more information, see the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/files-in-dossier/\">Files in dossier</a> section in the integration documentation.","operationId":"setFiles","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"requestBody":{"description":"Upload image payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileRequest"}}},"required":true},"responses":{"201":{"description":"The files were successfully uploaded."},"400":{"description":"Image encoded is in the wrong format. It must be follow thedataURL format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"Dossier not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/files/ -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json' -d '<ADD-PAYLOAD-HERE>';"}]},"delete":{"tags":["Dossiers"],"summary":"Delete files from dossier","description":"All files uploaded to the dossier will be deleted.","operationId":"deleteFiles","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"responses":{"204":{"description":"The files were successfully deleted."},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The dossier was not found.     |     The image was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X DELETE https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/files -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type:application/json';"}]}},"/dossiers/{dossierId}/capture":{"post":{"tags":["Capture"],"summary":"Start capture flow","description":"This service initiates a flow for performing an identity document verification in a web context. Since this service encapsulates all providers’ Web SDKs, you do not have to integrate with the provider’s SDK yourself. When you call this service, it will:<ul><li>Create a new service on your behalf. </li><li>Integrate directly with the provider's JS SDK and use it to display a web view to the end-user where they can capture and upload the ID images.</li><li>Request to <a href=\"https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Processes/operation/startVerification\">start the verification.</a></li></ul>When you call this service, you must provide similar request parameters as in the Create process service. For more details, see the parameter descriptions below.<br><br>This service also provides other useful features. For example, you can <a href=\"https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Capture/operation/setConfiguration_1\">configure the user interface</a> during the web flow. For more usage details about this, see the general documentation in the <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/capture/\">Start Capture flow</a> section.<br>","operationId":"createArtifact","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureRequest"},"examples":{"Example using onfido provider":{"summary":"Onfido example","description":"Example using onfido provider","value":{"providers":[{"provider":"onfido","processType":"documentSelfie"}],"sdk":"native","redirectUrl":"https://customer.site.com"}},"Example using onfido provider with extra dl information":{"summary":"Onfido request with extra information from driving license","description":"Example using onfido provider with extra dl information","value":{"providers":[{"provider":"onfido","processType":"documentSelfie","requestExtraDataFromDrivingLicense":true}],"sdk":"native","redirectUrl":"https://customer.site.com"}},"Example using signicatvideoid provider":{"summary":"Signicat VideoID example","description":"Example using signicatvideoid provider","value":{"providers":[{"provider":"eid","processType":"substantial"}],"sdk":"native","redirectUrl":"https://customer.site.com"}},"Example using signicatpaper provider":{"summary":"Signicat Paper example","description":"Example using signicatpaper provider","value":{"providers":[{"provider":"paper"}],"sdk":"capture","redirectUrl":"https://customer.redirect.site.com"}},"Example using readid provider":{"summary":"ReadID example","description":"Example using readid provider","value":{"providers":[{"provider":"readid","processType":"ready"}],"sdk":"native","redirectUrl":"https://customer.redirect.site.com"}},"Example using signicatpictureid provider":{"summary":"Signicat PictureID documentSelfie example","description":"Example using signicatpictureid provider","value":"{\n    \"providers\": [\n        {\n            \"provider\": \"signicatpictureid,\n            \"processType\": \"documentSelfie\",\n            \"documentId\":137\n        }\n    ],\n    \"sdk\": \"capture\",\n    \"redirectUrl\": \"https://customer.redirect.site.com\"\n}\n"}}}},"required":true},"responses":{"201":{"description":"The URL artifact was successfully created.<p>You send the end-user to this URL. This is where the JS SDK of the provider is loaded so that the end-user can capture and upload the ID images. For more information about available SDKs, see <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/services/capture/#using-the-sdks-available-in-the-capture-service\">Using the SDKs available in the Capture service</a>.</p>","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebURL"}}}},"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X POST https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/capture -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>' -H 'Content-Type: application/json' -d '<ADD-PAYLOAD-HERE>';"}]}},"/{providerName}/document-types":{"get":{"tags":["Assure"],"summary":"Get document types","description":"This service returns a list with document types supported by each provider, e.g. passport, driving licence etc.<br><br><b>Note:</b> There might be limitations for specific services. For example, retrieving Onfido's extra driving licence information is only supported for specific documents. For a list of supported DL documents, see <a href=\"https://developer.signicat.com/docs/id-document-and-biometric-verification/provider-specific-integrations/onfido/#uc-3-use-onfido-to-extract-extra-driving-licence-information\">Use Onfido to extract extra driving licence information</a> in the integration guide.","operationId":"getDocumentTypes","parameters":[{"name":"providerName","in":"path","description":"The ID of one of the supported providers.<br>","required":true,"schema":{"type":"string","enum":["onfido","signicatpaper","signicatpictureid","signicatvideoid"]},"example":"onfido"}],"responses":{"200":{"description":"The list of document types was successfully retrieved.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EidCountryAndDocumentType"}}}}},"204":{"description":"No document types were found for the requested provider."}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/onfido/document-types -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/processes":{"get":{"tags":["Processes"],"summary":"Get list of processes","description":"You can use this service to retrieve information about all the processes you have created the last 30 days (as long as they are not deleted). This can be useful, for example, to investigate how many processes have failed and why, to see how many processes are accepted/rejected etc.The result is presented as a list. You can filter the process list on creation date, status, offset and limit (see 'query parameters' below).","operationId":"getAllProcess","parameters":[{"name":"startCreationDate","in":"query","description":"The start date and time (ISO-8601 with UTC: YYYY-MM-DDThh:mm:ssZ) for the first process in the process list. This date filter is relative to the date the process was created (the `createdAt` field of the process). ","required":true,"schema":{"type":"string"},"example":"2021-10-04T09:35:19Z"},{"name":"endCreationDate","in":"query","description":"The end date and time (ISO-8601 with UTC: YYYY-MM-DDThh:mm:ssZ) for the last process in the process list ","required":false,"schema":{"type":"string"},"example":"2021-10-04T09:35:19Z"},{"name":"status","in":"query","description":"This field allows you to filter the process list on one or more statuses. The default value is an empty string, which means it returns all processes with all statuses.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true},"example":"accepted"},{"name":"offset","in":"query","description":"You can enter an offset value to specify which process should be retrieved first. The default offset value is 0 (first position in the database) and maximum is 200000. This maximum number is set to avoid performance issues. If you want to display more processes than defined in 'limit', you can create several requests with a different offset: <br>1. Create a request for the most recent items: <code>GET /processes?limit=20&offset=0</code> <br>2. On scroll/next page, create a second request: <code>GET /processes?limit=20&offset=20</code> <br>3. On scroll/next page, create a third request: <code>GET /processes?limit=20&offset=40</code> <br>","required":false,"schema":{"type":"integer","format":"int32","default":0,"maximum":200000,"minimum":0},"example":0},{"name":"limit","in":"query","description":"This is the maximum number of processes allowed in the response. The default value is 100 and maximum allowed is 2000. If you want to look at more processes than the defined limit, you must make more requests using the 'offset' parameter (see the example above).","required":false,"schema":{"type":"integer","format":"int32","default":100,"maximum":2000,"minimum":1},"example":100},{"name":"order","in":"query","description":"Allows to choose the order on which the processes will be returned - by descending or ascending createdAt date.<br>Default is descending.","required":false,"schema":{"type":"string"},"example":"createdAtDescending"}],"responses":{"400":{"description":"Please check the filter values:<li> <code>startCreationDate</code> should be &lte <code>endCreationDate</code><li> <code>status</code> must be valid.<li> <code>offset</code> or <code>limit</code> maximum value was overpassed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"The list of processes was successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAllProcesses"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/processes?startCreationDate=2022-08-05T08:00:00Z -H 'Authorization: Bearer <ACCESS_TOKEN>' "}]}},"/matching/configurations":{"get":{"tags":["Matching"],"summary":"Get all available matching configuration IDs","description":"Gets all existing matching configuration IDs.","operationId":"getAllConfigurations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MatchingConfigurationResponse"}}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/matching/configurations -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/dossiers/{dossierId}":{"get":{"tags":["Dossiers"],"summary":"Get dossier","description":"Use this service to get all the information about a dossier, including a summarized view of all the processes in it (e.g. Process ID, Status code, Provider...)","operationId":"getDossier","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"responses":{"200":{"description":"The dossier information was successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DossierResponse"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"Dossier not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers/<DOSSIER-ID> -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]},"delete":{"tags":["Dossiers"],"summary":"Delete dossier","description":"This service deletes all <a href='https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Dossiers/operation/deleteUserData'>userData</a>, <a href='https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Dossiers/operation/deleteFiles'> files</a> and <a href='https://developer.signicat.com/apis/id-document-and-biometric-verification/#tag/Processes/operation/deleteProcess'> processes</a> in the given dossier (`dossierId`).<br> <br><b>Warning:</b> This is a destructive operation since you cannot do a rollback afterwards. You should only use this service after you have finished the end-user’s identification.<br><br><b>Note:</b> For Onfido, you are not allowed to delete a dossier if there are still processes in the `processing` state (for more details about process statuses, see the <a href='https://developer.signicat.com/docs/id-document-and-biometric-verification/services/process/#status'>Get process</a> page in the integration documentation).","operationId":"deleteDossier","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"}],"responses":{"204":{"description":"Dossier deleted successfully."},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"Dossier not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X DELETE https://api.signicat.com/assure/dossiers/<DOSSIER-ID> -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/dossiers/{dossierId}/processes/{processId}/video":{"get":{"tags":["Processes"],"summary":"Get video","description":"This service gets the video that the end-user recorded while the images were captured and uploaded through their SDK with this option set. The service is available for Signicat VideoID and Onfido.","operationId":"getVideo","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"responses":{"200":{"description":"The video was successfully retrieved.","content":{"video/mp4,video/quicktime":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"This provider and process type does not provide a video.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionBadRequest"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"Video not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID>/video -H 'Accept: application/json' -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/dossiers/{dossierId}/processes/{processId}/raw":{"get":{"tags":["Processes"],"summary":"Get raw result","description":"<b>Note</b>: This is currently only available for provider readid.<br><br>Use this service to get the raw information about a process as it is retrieved from the provider.<br><br>The data in the response will vary depending on the provider used to perform the verification.<br><br>See also the Get raw result section in the developer documentation.","operationId":"getRawResult","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"responses":{"200":{"description":"The zip file was successfully created and retrieved.","content":{"application/json":{}}},"204":{"description":"No-content if the process is not completed.","content":{"application/zip":{"schema":{"type":"string"}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionUnauthorized"}}}},"404":{"description":"The resource requested cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardExceptionNotFound"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID>/raw -H 'Authorization: Bearer <ACCESS_TOKEN>';"}]}},"/dossiers/{dossierId}/processes/{processId}/external-id":{"get":{"tags":["Processes"],"summary":"Get processes' external id","description":"Use this request to get the process external id. This id is the assure process id in the provider side. It corresponds to different things in each provider: Onfido: <b>applicantId</b>, Signicat VideoID: <b>videoId</b>, ReadID: <b>sessionId</b> (only after the process is finished. Before that it's the same as processId), Signicat Paper: <b>requestId</b>, Facetec: n/a, WebID: <b>actionId</b>, Signicat PictureID: <b>transactionId</b>.","operationId":"getExternalId","parameters":[{"name":"dossierId","in":"path","description":"This ID is obtained from the \"Create dossier\" response body.","required":true,"schema":{"type":"string"},"example":"37191afe-25b3-4c30-b42a-b0ab64aa1d64"},{"name":"processId","in":"path","description":"<code>processId</code> is obtained from the \"Create process\" response body.","required":true,"schema":{"type":"string"},"example":"8afb3ac6-6780-42e4-bbc2-3713e2f6d97c"}],"responses":{"400":{"description":"The request cannot be fulfilled due to bad syntax","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Get processes' external id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalId","example":{"externalId":"2822984e-fa4d-46a9-b4cd-de47d5050cc0"}}}}},"401":{"description":"The Bearer token provided in the Authorization header was not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalId"}}}}},"x-code-samples":[{"lang":"curl","source":"curl -X GET https://api.signicat.com/assure/dossiers/<DOSSIER-ID>/processes/<PROCESS-ID>/external-id -H 'Authorization: Bearer <ACCESS_TOKEN>' "}]}},"/dossiers/{dossierId}/processes/{processId}/download":{"get":{"tags":["Processes"],"summary":"Download full result","description":"This service returns a zip file containing all information (images, videos, json files) about a process after verification is complete (“accepted“, ”rejected“, ”inconclusive“). <br>Aft
[...]
